
[Unit]
Description=Soundboard for playing random sounds with a button

[Service]
Type=simple
User=william
ExecStart=/usr/bin/python3 -u /home/william/soundboardbutton/soundboard.py
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
